
# BACKEND API
NODE_ENV=development
API_PORT=8000


# POSTGRES DB

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

## Example
## DATABASE_URL="postgresql://postgres:password@localhost:5432/mini_instagram_db"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

POSTGRES_HOST=postgres_db_container
POSTGRES_PORT=5432

POSTGRES_DB=mini_instagram_db


# NEEDED TO CONNECT TO DB DOCKER CONTAINER FROM HOST MACHINE:
POSTGRES_EXPOSE_PORT=5433


# JWT CONFIG
JWT_SECRET_KEY=super_secret_key_123
JWT_EXPIRES_MINS=60

